.navbar-default{
  margin-bottom: 0;
  text-align: center;
  color: #182049
}
.navbar-center {
display: inline-block;
  h2 {
    padding-left: 100px;
  }

}

.navbar-left {
  margin-bottom: 15px;
}
.navbar-right{
  margin-top: 20px;
  margin-right: 5px;
}
